.button
  background-color: var(--button-color)
  color: var(--white-color)
  border: 0
  border-radius: 30px
  padding: 10px 10px
  padding-right: 17px
  font-weight: 600
  cursor: pointer

  &:hover
    background-color: var(--button-hover-color)

  &-icon
    background-color: var(--white-color)
    line-height: 0
    padding: 10px
    margin-top: -2px
    border-radius: 50%
    display: inline-block
    margin-right: 16px
