:root
  --white-color: #fff
  --white-transparent-background-color: rgba(255, 255, 255, .1)
  --primary-color: #1F213A
  --primary-color-hover: #7C5DFA
  --background-color: #141625
  --purple-color: #7781B9

  --success-color: #33D69F
  --success-background-color: rgba(51, 214, 159, .2)

  --warning-color: #FF8E01
  --warning-background-color: rgba(255, 142, 1, .2)

  --danger-color: #ED5758

  --border-color: #494E6E

  --button-default-background-color: #252946
  --button-default-hover-background-color: lighten(#252946, 10%)

  --button-primary-color: #7C5DF9
  --button-primary-hover-color: #9278FF

  --button-seccondary-color: #373B54
  --button-seccondary-hover-color: #848EC7
  --button-seccondary-hover-background-color: #FFFFFF

  --button-danger-color: #ED5758
  --button-danger-hover-color: #FF9796

  --button-cancel-background-color: #F9FAFE
  --button-cancel-color: #8189C4
  --button-cancel-background-hover-color: #FFFFFF
  --button-cancel-hover-color: #E6E9FA
  
  --scroll-color: #252946

  --form-title-color: #777E98
  --form-input-focus-color: #A089FF
  --form-input-border-color: #252946
  --form-input-background-color: #1F213A
  --form-legend-color: #7356E7
  --form-background-color: #111320

  --backdrop-background-color: rgba(0, 0, 0, 0.5)
  --input-caret-color: #4A3E94

  --modal-background-color: #1F213A
