.icon
  display: inline-block
  background-repeat: no-repeat

  &-arrow-right
    height: 10px
    width: 7px
    background-image: url('../assets/icons/icon-arrow-right.svg')

  &-sun
    height: 20px
    width: 20px
    background-image: url('../assets/icons/icon-sun.svg')
