<div class="backdrop"></div>
<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Confirm Deletion</div>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete invoice {{data['id']}}? This action cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="button button-seccondary" (click)="onClickCancelAction()">Cancel</button>
        <button type="button" class="button button-danger" (click)="onClickDeleteAction()">Delete</button>
      </div>
    </div>
  </div>
</div>
