<div class="backdrop" (click)="onClickOutsideForm()"></div>
<form *ngIf="form" [formGroup]="form">
  <div class="form">
    <div class="form-body">
      <div class="form-content">
        <h1 class="form-title">New Invoice</h1>
        <fieldset class="form-fieldset" formGroupName="senderAddress">
          <legend class="form-legend">Bill From</legend>
          <div class="form-group">
            <label class="form-label" for="sender-address-street">Street address</label>
            <input class="form-control" type="text" id="sender-address-street" formControlName="street">
          </div>
          <div class="form-row">
            <div class="form-group">
              <label class="form-label" for="sender-address-city">City</label>
              <input class="form-control" type="text" id="sender-address-city" formControlName="city">
            </div>
            <div class="form-group">
              <label class="form-label" for="sender-address-post-code">Post Code</label>
              <input class="form-control" type="text" id="sender-address-post-code" formControlName="postCode">
            </div>
            <div class="form-group">
              <label class="form-label" for="sender-address-country">Country</label>
              <input class="form-control" type="text" id="sender-address-country" formControlName="country">
            </div>
          </div>
        </fieldset>

        <fieldset class="form-fieldset">
          <legend class="form-legend">Bill To</legend>
          <div class="form-group">
            <label class="form-label" for="client-name">Client's Name</label>
            <input class="form-control" type="text" id="client-name" formControlName="clientName">
          </div>
          <div class="form-group">
            <label class="form-label" for="client-email">Client's Email</label>
            <input class="form-control" type="text" id="client-email" formControlName="clientEmail">
          </div>
          <ng-container formGroupName="clientAddress">
            <div class="form-group">
              <label class="form-label" for="client-address-street">Street address</label>
              <input class="form-control" type="text" id="client-address-street" formControlName="street">
            </div>
            <div class="form-row">
              <div class="form-group">
                <label class="form-label" for="client-address-city">City</label>
                <input class="form-control" type="text" id="client-address-city" formControlName="city">
              </div>
              <div class="form-group">
                <label class="form-label" for="client-address-post-code">Post Code</label>
                <input class="form-control" type="text" id="client-address-post-code" formControlName="postCode">
              </div>
              <div class="form-group">
                <label class="form-label" for="client-address-country">Country</label>
                <input class="form-control" type="text" id="client-address-country" formControlName="country">
              </div>
            </div>
          </ng-container>
        </fieldset>

        <fieldset class="form-fieldset">
          <div class="form-row">
            <div class="form-group">
              <label class="form-label" for="created-at">Issue Date</label>
              <input class="form-control" type="text" id="created-at" formControlName="createdAt">
            </div>
            <div class="form-group">
              <label class="form-label" for="payment-terms">Payment Terms</label>
              <input class="form-control" type="text" id="payment-terms" formControlName="paymentTerms">
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="description">Project Description</label>
            <input class="form-control" type="text" id="description" formControlName="description">
          </div>
        </fieldset>

        <div class="form-table">
          <div class="form-table-title">Item List</div>
          <div class="form-table-header">
            <div class="form-table-row">
              <div class="form-table-column name">Item Name</div>
              <div class="form-table-column quantity">Qty.</div>
              <div class="form-table-column price">Price</div>
              <div class="form-table-column total">Total</div>
              <div class="form-table-column actions"></div>
            </div>
          </div>
          <div class="form-table-body">
            <ng-container formArrayName="items">
              <div class="form-table-row" *ngFor="let _ of items.controls; index as i">
                <ng-container [formGroupName]="i">
                  <div class="form-table-column name">
                    <div class="form-group">
                      <input class="form-control" type="text" formControlName="name">
                    </div>
                  </div>
                  <div class="form-table-column quantity">
                    <div class="form-group">
                      <input class="form-control" type="text" formControlName="quantity">
                    </div>
                  </div>
                  <div class="form-table-column price">
                    <div class="form-group">
                      <input class="form-control" type="text" formControlName="price">
                    </div>
                  </div>
                  <div class="form-table-column total">
                    <div class="form-table-value">{{getTotal(i)}}</div>
                  </div>
                  <div class="form-table-column actions" title="Remove Item" (click)="removeItem(i)">
                    <em class="icon icon-delete"></em>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>

        <button type="button" class="button button-default button-block" (click)="addItem()">+ Add New Item</button>
      </div>
    </div>
    <div class="form-actions">
      <div class="form-actions-group">
        <button type="button" class="button button-cancel" (click)="onClickDiscard()">Discard</button>
      </div>
      <div class="form-actions-group">
        <button type="button" class="button button-secondary" (click)="onSubmit()">Save as Draft</button>
        <button type="button" class="button button-primary" (click)="onSubmit()">Save & Send</button>
      </div>
    </div>
  </div>
</form>
