<div class="backdrop" (click)="onClickOutsideForm()"></div>
<form *ngIf="form" [formGroup]="form">
  <div class="form">
    <div class="form-body">
      <div class="form-content">
        <h1 *ngIf="mode === 'new'" class="form-title">New Invoice</h1>
        <h1 *ngIf="mode === 'edit'" class="form-title">
          Edit <span class="form-title-prefix">#</span>{{invoice?.id}}
        </h1>
        <fieldset class="form-fieldset" formGroupName="senderAddress">
          <legend class="form-legend">Bill From</legend>
          <div class="form-group">
            <label class="form-label" for="sender-address-street">Street address</label>
            <input class="form-control"
                   [ngClass]="{'form-control-error': getSenderAddressInput('street').touched && getSenderAddressInput('street').errors}"
                   type="text"
                   id="sender-address-street"
                   formControlName="street">
            <div *ngIf="getSenderAddressInput('street').touched && getSenderAddressInput('street').hasError('required')"
                 class="form-error">
              The street address is required
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label class="form-label" for="sender-address-city">City</label>
              <input class="form-control"
                     [ngClass]="{'form-control-error': getSenderAddressInput('city').touched && getSenderAddressInput('city').errors}"
                     type="text"
                     id="sender-address-city"
                     formControlName="city">
              <div *ngIf="getSenderAddressInput('city').touched && getSenderAddressInput('city').hasError('required')"
                   class="form-error">
                The city is required
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="sender-address-post-code">Post Code</label>
              <input class="form-control"
                     [ngClass]="{'form-control-error': getSenderAddressInput('postCode').touched && getSenderAddressInput('postCode').errors}"
                     type="text"
                     id="sender-address-post-code"
                     formControlName="postCode">
              <div *ngIf="getSenderAddressInput('postCode').touched && getSenderAddressInput('postCode').hasError('required')"
                   class="form-error">
                The post code is required
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="sender-address-country">Country</label>
              <input class="form-control"
                     [ngClass]="{'form-control-error': getSenderAddressInput('country').touched && getSenderAddressInput('country').errors}"
                     type="text"
                     id="sender-address-country"
                     formControlName="country">
              <div *ngIf="getSenderAddressInput('country').touched && getSenderAddressInput('country').hasError('required')"
                   class="form-error">
                The country is required
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="form-fieldset">
          <legend class="form-legend">Bill To</legend>
          <div class="form-group">
            <label class="form-label" for="client-name">Client's Name</label>
            <input class="form-control"
                   [ngClass]="{'form-control-error': getInput('clientName').touched && getInput('clientName').errors}"
                   type="text"
                   id="client-name"
                   formControlName="clientName">
            <div *ngIf="getInput('clientName').touched && getInput('clientName').hasError('required')"
                 class="form-error">
              The client's name is required
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="client-email">Client's Email</label>
            <input class="form-control"
                   [ngClass]="{'form-control-error': getInput('clientEmail').touched && getInput('clientEmail').errors}"
                   type="text"
                   id="client-email"
                   formControlName="clientEmail">
            <div *ngIf="getInput('clientEmail').touched && getInput('clientEmail').hasError('required')"
                 class="form-error">
              The client's email is required
            </div>
          </div>
          <ng-container formGroupName="clientAddress">
            <div class="form-group">
              <label class="form-label" for="client-address-street">Street address</label>
              <input class="form-control"
                     [ngClass]="{'form-control-error': getClientAddressInput('street').touched && getClientAddressInput('street').errors}"
                     type="text"
                     id="client-address-street"
                     formControlName="street">
              <div *ngIf="getClientAddressInput('street').touched && getClientAddressInput('street').hasError('required')"
                   class="form-error">
                The street address is required
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label class="form-label" for="client-address-city">City</label>
                <input class="form-control"
                       [ngClass]="{'form-control-error': getClientAddressInput('city').touched && getClientAddressInput('city').errors}"
                       type="text"
                       id="client-address-city"
                       formControlName="city">
                <div *ngIf="getClientAddressInput('city').touched && getClientAddressInput('city').hasError('required')"
                     class="form-error">
                  The city is required
                </div>
              </div>
              <div class="form-group">
                <label class="form-label" for="client-address-post-code">Post Code</label>
                <input class="form-control"
                       [ngClass]="{'form-control-error': getClientAddressInput('postCode').touched && getClientAddressInput('postCode').errors}"
                       type="text"
                       id="client-address-post-code"
                       formControlName="postCode">
                <div *ngIf="getClientAddressInput('postCode').touched && getClientAddressInput('postCode').hasError('required')"
                     class="form-error">
                  The post code is required
                </div>
              </div>
              <div class="form-group">
                <label class="form-label" for="client-address-country">Country</label>
                <input class="form-control"
                       [ngClass]="{'form-control-error': getClientAddressInput('country').touched && getClientAddressInput('country').errors}"
                       type="text"
                       id="client-address-country"
                       formControlName="country">
                <div *ngIf="getClientAddressInput('country').touched && getClientAddressInput('country').hasError('required')"
                     class="form-error">
                  The country is required
                </div>
              </div>
            </div>
          </ng-container>
        </fieldset>

        <fieldset class="form-fieldset">
          <div class="form-row">
            <div class="form-group form-group-datepicker">
              <label class="form-label" for="created-at">Issue Date</label>
              <input class="form-control"
                     [ngClass]="{'form-control-error': getInput('createdAt').touched && getInput('createdAt').errors}"
                     type="text"
                     id="created-at"
                     formControlName="createdAt"
                     (focus)="picker.open()"
                     [matDatepicker]="picker">
              <mat-datepicker #picker [calendarHeaderComponent]="customHeader"></mat-datepicker>
              <div *ngIf="getInput('createdAt').touched && getInput('createdAt').hasError('required')"
                   class="form-error">
                The issue date is required
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="payment-terms">Payment Terms</label>
              <input class="form-control"
                     [ngClass]="{'form-control-error': getInput('paymentTerms').touched && getInput('paymentTerms').errors}"
                      type="text"
                     id="payment-terms"
                     formControlName="paymentTerms">
              <div *ngIf="getInput('paymentTerms').touched && getInput('paymentTerms').hasError('required')"
                   class="form-error">
                The payment terms is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="description">Project Description</label>
            <input class="form-control"
                   [ngClass]="{'form-control-error': getInput('description').touched && getInput('description').errors}"
                   type="text"
                   id="description"
                   formControlName="description">
            <div *ngIf="getInput('description').touched && getInput('description').hasError('required')"
                 class="form-error">
              The project description is required
            </div>
          </div>
        </fieldset>

        <div class="form-table">
          <div class="form-table-title">Item List</div>
          <div class="form-table-header">
            <div class="form-table-row">
              <div class="form-table-column name">Item Name</div>
              <div class="form-table-column quantity">Qty.</div>
              <div class="form-table-column price">Price</div>
              <div class="form-table-column total">Total</div>
              <div class="form-table-column actions"></div>
            </div>
          </div>
          <div class="form-table-body">
            <ng-container formArrayName="items">
              <div class="form-table-row" *ngFor="let _ of items.controls; index as i">
                <ng-container [formGroupName]="i">
                  <div class="form-table-column name">
                    <div class="form-group">
                      <input class="form-control"
                             [ngClass]="{'form-control-error': getItemInput(i, 'name').touched && getItemInput(i, 'name').errors}"
                             type="text"
                             formControlName="name">
                      <div *ngIf="getItemInput(i, 'name').touched && getItemInput(i, 'name').hasError('required')"
                           class="form-error">
                        The item name is required
                      </div>
                    </div>
                  </div>
                  <div class="form-table-column quantity">
                    <div class="form-group">
                      <input class="form-control"
                             [ngClass]="{'form-control-error': getItemInput(i, 'quantity').touched && getItemInput(i, 'quantity').errors}"
                             type="text"
                             formControlName="quantity">
                      <div *ngIf="getItemInput(i, 'quantity').touched && getItemInput(i, 'quantity').hasError('required')"
                           class="form-error">
                        Required
                      </div>
                    </div>
                  </div>
                  <div class="form-table-column price">
                    <div class="form-group">
                      <input class="form-control"
                             [ngClass]="{'form-control-error': getItemInput(i, 'price').touched && getItemInput(i, 'price').errors}"
                             type="text"
                             formControlName="price">
                      <div *ngIf="getItemInput(i, 'price').touched && getItemInput(i, 'price').hasError('required')"
                           class="form-error">
                        Required
                      </div>
                    </div>
                  </div>
                  <div class="form-table-column total">
                    <div class="form-table-value">{{getTotal(i)}}</div>
                  </div>
                  <div class="form-table-column actions" title="Remove Item" (click)="removeItem(i)">
                    <em *ngIf="this.items.length > 1" class="icon icon-delete"></em>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>

        <button type="button" class="button button-default button-block" (click)="addItem()">+ Add New Item</button>
      </div>
    </div>
    <div *ngIf="mode === 'new'" class="form-actions">
      <div class="form-actions-group">
        <button type="button" class="button button-cancel" (click)="onClickDiscard()">Discard</button>
      </div>
      <div class="form-actions-group">
        <button type="button" class="button button-secondary" (click)="onClickSaveAsDraft()">Save as Draft</button>
        <button type="button" class="button button-primary" (click)="onClickSaveAndSend()">Save & Send</button>
      </div>
    </div>
    <div *ngIf="mode === 'edit'" class="form-actions">
      <div class="form-actions-group">
      </div>
      <div class="form-actions-group">
        <button type="button" class="button button-secondary" (click)="onClickCancel()">Cancel</button>
        <button type="button" class="button button-primary" (click)="onClickSaveChanges()">Save Changes</button>
      </div>
    </div>
  </div>
</form>
